body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fbfff1; /* Light cream background */
    color: #3c3744; /* Dark grey for text */
}

header, footer {
    background-color: #3c3744; /* Dark purple-grey */
    color: #fbfff1; /* Cream text */
    padding: 20px;
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a, .project-card a {
    text-decoration: none;
    color: #090c9b;
    transition: color 0.3s ease-in-out;
}

nav ul li a:hover, .project-card a:hover {
    color: #3066be; /* Brighter blue */
}

section {
    padding: 60px 10%;
    margin-top: 60px; /* To account for fixed header */
}

/* Alternating section background colors */
section:nth-of-type(odd) {
    background-color: #b4c5e4; /* Dark blue for odd sections */
}

section:nth-of-type(even) {
    background-color: #3066be; /* Even darker blue for even sections */
}

.project-card, .project-card a {
    background-color: #b4c5e4; /* Ensuring project cards and links fit the color scheme */
    color: #3c3744;
    border-color: #fbfff1; /* Slight border color for differentiation */
}

a:hover {
    color: #64ffda; /* Adjust the color to fit the design */
}

.projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; /* This will evenly space your project cards */
    gap: 20px; /* Adjust the gap between cards */
}

.project-card {
    flex: 1 1 300px; /* Flex grow, flex shrink, and flex basis */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* This helps to align items inside the card */
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    /* Removed margin and width from here */
}

.project-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.project-card a {
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
}

.project-card h3 {
    margin-top: 0;
}
