
/* Color palette
#3c3744
#284b63
#fbfff1
*/

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fbfff1; 
    color: #3c3744;
}

header {
    background-color: #3c3744;
    color: #fbfff1;
    padding: 20px;
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

nav {
    width: 100%;
    display: flex;
    justify-content: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: inline-block;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #fbfff1;
    transition: color 0.3s ease-in-out;
}

nav ul li a:hover {
    color: #9a989d;
}

section {
    padding: 60px 10%;
    margin-top: 60px; /* To account for fixed header */
    background-color: #fbfff1;
}



footer {
    background-color: #3c3744;
    color: #fbfff1;
    text-align: center;
    padding: 20px;
}

#emailHighlight {
    transition: background-color 0.7s ease, color 0.7s ease, padding 0.7s ease;
    display: inline-block;
    border-radius: 5px;
}

#emailHighlight.highlight {
    background-color: #fbfff1; /* Light grey background */
    color: #3c3744; /* Dark text color */
    padding: 10px 10px 10px 10px;
}

/* Ensures the link stands out */
#emailHighlight.highlight a {
    color: #79b6f6; /* Change the color to something more noticeable if needed */
    font-weight: bold;
    text-decoration: underline;
    transition: color 0.7s ease;
}

footer a {
    color: #fbfff1; /* A light blue color for links for a pop of color */
    text-decoration: none; /* Optional: removes underline from links */
}

footer a:hover {
    text-decoration: underline; /* Optional: adds an underline on hover for interactivity */
}

a:hover {
    color: #9a989d; /* Adjust the color to fit the design */
}

#about {
    margin-top: 0;
    position: relative;
    color: white;
    text-align: left;
    padding: 140px 0 100px;
    overflow: hidden;
}

#about::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('images/background-image.jpg') no-repeat center center / cover;
    filter: grayscale(50%) brightness(50%);
}

.content-container, .profile-picture, .bio-box {
    position: relative;
    z-index: 1;
}

.content-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.about-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('images/background-image.jpg') no-repeat center center;
    background-size: cover;
    filter: grayscale(15%);
    opacity: 0.5;
    z-index: -1;
}

.profile-picture-container {
    flex: 0 0 250px;
    height: 250px;
    margin-right: 20px;
    margin-left: 20px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}

.profile-picture {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('images/profile-picture.jpg') no-repeat center center;
    background-size: cover;
    border-radius: 50%;
}

.bio-box {
    flex: 1;
    background-color: #fbfff1c8;
    color: #3c3744;
    border-radius: 8px;
    padding: 0 20px;
    margin-left: 20px;
    max-width: 700px;
}

@media (max-width: 1200px) {
    .content-container {
        flex-direction: column;
        align-items: center;
    }

    .profile-picture-container {
        width: 250px; /* Maintain a fixed width */
        height: 250px; /* Maintain a fixed height to ensure circular shape */
        margin: 0 auto 20px;
    }

    .profile-picture {
        width: 100%;
        height: 100%;
    }

    .bio-box {
        margin: 0 auto;
        width: 90%;
    }
}

.projects-section {
    text-align: center;
    margin-top: 0px
}

.projects-section h2 {
    margin-bottom: 50px;
    margin-top: 5px;
}

.projects-container {
    display: flex;
    flex-wrap: wrap;
    color: #fbfff1;
    justify-content: center; /* Adjusted for tighter alignment */
    gap: 50px; /* Reduced gap for tighter spacing */
}

.project-card {
    flex: 0 1 calc(33.333% - 10px); /* Adjust for more cards per row or tighter spacing */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-decoration: none;
    color: inherit;
    border: 1px solid #ddd;
    background-color: #524d59;
    border-radius: 8px;
    padding: 20px; /* Adjust padding for tighter content */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card:hover {
    transform: translateY(-3px); /* Slightly less pronounced hover effect */
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
    color: #fbfff1; /* Overwrite adjusting text color */
}

.project-image {
    width: 100%; /* Ensure images fill the card */
    height: auto;
    border-radius: 8px;
}

.project-card a {
    display: inline-block;
    margin-top: 10px;
    color: #007bff;
    text-decoration: none;
}

.project-card h3 {
    margin-top: 10px;
}

/* Adjustments for smaller screens */
@media (max-width: 1024px) {
    .project-card {
        flex: 0 1 calc(50% - 10px); /* Adjust to 2 cards per row */
    }
}

@media (max-width: 768px) {
    .project-card {
        flex: 0 1 calc(100% - 10px); /* 1 card per row for very small screens */
    }
}

.cv-section {
    background-color: #f9f9f9;
    padding: 40px;
    text-align: center;
}

.cv-content {
    display: flex;
    flex-direction: column; /* Stack thumbnail and description vertically */
    align-items: center;
    gap: 20px;
    max-width: 800px;
    margin: 0 auto;
}

.cv-thumbnail {
    flex-shrink: 0;
    transition: transform 0.3s ease-in-out; /* Smooth transition for the transform */
}

.cv-thumbnail .cv-img {
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out; /* Smooth transition for the transform */}

.cv-thumbnail:hover .cv-img {
    transform: scale(1.03); /* Enlarge the thumbnail on hover */
}

.cv-img {
    width: 350px; /* Adjust based on your thumbnail size */
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cv-description p {
    color: #666;
    font-size: 16px;
    margin: 10px 0 20px; /* Adjust margin for visual spacing */
}

@media (max-width: 768px) {
    .cv-content {
        flex-direction: column;
        gap: 10px;
    }

    .cv-img {
        width: 350px; /* Adjust for smaller screens */
        height: auto;
    }
}


